.cell{
    -fx-border-style: solid;
    -fx-background-color: white;
}

.cell:hover{
    -fx-background-color: grey;
}

.possibleCellMove{
    -fx-border-style: solid;
    -fx-background-color: lightsteelblue;
}
